body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#demo {
  text-align: center;
}

div {
  border: 1px solid red;
}

.container {
  display: inline-block;
  font-size: 5rem;
}

.fall {
  position: absolute;
  margin-top: -6rem;
}
